.MathJax_Display {
  text-align: left !important;
}

.wall-item {
  display: block;
  /*margin: 0 0 30px 0;*/
  padding: 5px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  transition: all 220ms;
}

.wall-item:hover {
  /*box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);*/
  transform: translateY(-5px);
  transition: all 220ms;
}

.wall-item > img {
  display: block;
  width: 100%;
  margin: 0 0 24px 0;
}

.wall-item h2 {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.wall {
	width: 100%;
  display: block;
  position: relative;
}

.wall-column {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  padding: 0 12px;
  box-sizing: border-box;
}
@media (max-width: 640px) {

.wall-column { width: 50%; }
}
@media (max-width: 480px) {

.wall-column {
  width: auto;
  float: none;
}
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}


.card-group {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.card-group .card {
  background: black;
  border: black;
  border-style: dotted;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.4);*/
  position: relative;
  cursor: pointer;
}
.card-group .card:hover p {
  font-size: .9rem;
}
.card-group .card:hover .card-badge {
  top: 150px;
}
.card-group .card .card-badge {
  width: 4em;
  height: 4em;
  background: #002c5f;
  border-radius: 50%;
  position: absolute;
  transition: .3s ease-in;
  left: 300px;
  top: 30px;
  box-shadow: 5px 3px 5px 0 rgba(0, 0, 0, 0.4);
}
.card-group .card .card-image {
  background-size: cover;
  height: 300px;
  width: 100%;
}
.card-group .card h1 {
  padding: 0 1em;
}
.card-group .card p {
  font-weight: 100;
  font-size: 0;
  transition: 0.2s ease-in;
}
.card-group .card a {
  font-size: 1rem;	
  color: #0f82ff;
}

/* Create two equal columns that floats next to each other */
.column-abt {
  float: left;
  padding: 5px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row-abt:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-abt {
    width: 100%;
  }
}

table#plt-table  {
  border: 1px solid black;
}

table#plt-table th {
  border: 1px solid black;
}

table#plt-table td {
  border: 1px solid black;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-envelope {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-envelope:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #e25714;
}

.news-page-wrapper {
  float: left;
  width: 100%;
  clear: both;
  margin: 0;
  padding: 2rem;
}

@media screen and (max-width: 1120px) {
  #feed-list-show {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  #main-profile-pic img{
    max-height: 160px;
  }
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

::-webkit-scrollbar {
  height: 3px;              /* height of horizontal scrollbar ← You're missing this */
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-thumb:horizontal{
        background: #000;
        border-radius: 10px;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}

canvas{
 max-width: 60rem;
}