---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}

<div class="home">

  <div class="row-abt" style="border-bottom: thin solid #f3f3f3">
  <div class="column-abt" style="background-color: white; max-width: 27%;">
    <img id="main-profile-pic" src="{{ site.baseurl }}/images/profile.jpg" style=" width: auto ; max-height: 250px;" />
    <div class="footer-social-icons">
      <ul class="social-icons">
          <li><a href="https://github.com/SatyendraBanjare" class="social-icon"> <i class="fa fa-github"></i></a></li>
          <li><a href="mailto:satyendrabanjare99@gmail.com" class="social-icon"> <i class="fa fa-envelope"></i></a></li>
          <li><a href="https://www.facebook.com/satyendra.banjare" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/me_satyendra" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/satyendra-banjare-554ab2135/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div  >
      <p> I am <strong>Satyendra Kumar Banjare</strong> final year Electrical Engineering undergraduate student at IIT Roorkee. My current interests are applications of formal methods. </p>
      <p>I maintain my findings at the <strong>PLT</strong> section of my website.</p>
    
  </div>
  <div class="statement" style="float: left; width: 100%; height: 10%; border-bottom: thin solid #f3f3f3 " >
    <p>I believe formal methods are set of powerful tools to solve a variety of complex problems ranging from
       <a href="https://iris-project.org/">Programming Language Research</a>, 
       <a href="https://project-everest.github.io/">Computer security</a>
       <a href="https://github.com/project-everest/hacl-star/blob/fstar-master/README.EverCrypt.md">Crptography</a>,
       <a href="https://seclab.stanford.edu/AdvML2017/slides/jacob-workshop-slides.pdf">Secure Machine Learning</a> ,
       <a href="https://arxiv.org/pdf/1803.00699.pdf">Quantum Programming language</a> , 
       <a href="https://simons.berkeley.edu/sites/default/files/docs/6720/gaboardi.pdf">Differential Privacy</a> ,
      <a href="https://link.springer.com/content/pdf/10.1007/BFb0094849.pdf">Creating secure Database systems</a>  
    and many more.</p>
  </div>

  <!-- <div class="news-abt" style="float: left; width: 100%; height: 10%;  " >
    <h2>News</h2>
    <ul>
      <li>abc</li>
      <li>abc</li>
      <li>abc</li>
    </ul>
  </div> -->



</div>



  {% if posts_count > 0 %}
    <div class="posts">
      <div style="border-bottom: thin solid #f3f3f3;">
        <h2>Latest Blogs</h2>
      </div>
      

      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}

</div>