{% if paginator.total_pages != 1 %}
<nav class="pagination">
  <div>
    {% if paginator.previous_page %}
      <a href="{% if paginator.page == 2 %}{{ site.baseurl }}/{% else %}{{ paginator.previous_page_path }}{% endif %}">&larr; Newer</a>
    {% else %}
      <span class="disabled">&larr; Newer</span>
    {% endif %}
  </div>
  <div class="pagination-meta">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>
  <div>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">Older &rarr;</a>
    {% else %}
      <span class="disabled">Older &rarr;</span>
    {% endif %}
  </div>
</nav>
{% endif %}
