<!DOCTYPE html>
<html>
{% include head.html %}
<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
  {% if site.google_tag_manager %}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% endif %}
	{% if site.facebook_comments %}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId={{ site.facebook_appid }}";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	{% endif %}

  <div class="site-wrap">
    {% include header.html %}

    <!-- <div style="margin-left:50%;width: 50%; height: 500px; float: right; position: absolute; color: red; " >
      <div id="feed-list-show" style=" height: 100%; width: 20%; float: right; margin-right: 2%; margin-top: 1.5%;">

        <a  style="max-width:  500px;" class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 


                    <div class="feed-page-wrapper" style="padding: 15px; border: thick solid #f3f3f3; border-radius: 15px; "  >
                      <div id="interesting-name" style="padding-left: 5%;" >
                         <H2> Some Interesting Find outs </H2>
                      </div>
                     
              <div class="feed-list">
                {% for link in site.data.interesting %}
                
                <div class="item-feed" style="border: thin solid #f3f3f3;">
                  <div class="user-feed"></div>
                  
                  <a href="{{ link.url }}">
                  <div class="meta-feed">
                    <h4> {{ link.name }} [ {{ link.topics }} ] </h4>
                    <p>{{ link.description }}</p>
                  </div>
                  
                  </a>


                </div>    
                {% endfor %}
              </div>
            </div>
        
      </div>
    </div> 
 -->
    <div class="post p2 p-responsive wrap" role="main" >
      <div class="measure">
        {{ content }}
      </div>
</div>
    </div>
  </div>
  {% include footer.html %}
  
  <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<!-- <script type="text/javascript">
  
  $(function(){

    var currPath = window.location.pathname; 

  if((currPath == '/' ) || (currPath == '/plt/')){ 
    $('.feed-page-wrapper').show(); 
  }

})
</script> -->

</body>
</html>
